@import "../../../styles.scss";
.nav-bar{
    border-bottom: 2px solid $grey;
    height: 50px;
    ul{
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
    }
    li {
        line-height: 50px;
        cursor: pointer;
        height: 100%;
        margin: 18px;
        padding-left: 6px;
        padding-right: 6px;
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
        &:hover{
            background-color: $grey;
        }
    }
}
.cart {
    float: right;
    line-height: 50px;
    margin-right: 36px;
    font-size: 1.4em;
    cursor: pointer; 
}
.logo{
    font-size: 1.8em;
    color: $orange;
}